<h2 class="page-title"><%= current_user.user_name %>さんの登録情報編集</h2>

<div class="container text-center">


<%= form_for current_user do |f| %>
  <div class="form-area">

    <%= image_tag current_user.image.url(:middle), class: "img-circle" if current_user.image? %></br>
    <%= f.file_field :image, class: "edit-form" %></br>
    
    <div class="edit-title">ユーザーネーム</div>
    <div><%= f.text_field :user_name, class: "edit-form text-center" %></div>
    <div class="edit-title">自己紹介</div>
    <%= f.text_area :introduction, class: "edit-form edit-intro" %></br>
    <div class="edit-title"><%= f.submit "編集", class: "btn btn-success edit-form", id: "detail-btn"%></div>

  </div>
<% end %>


</div>