<h2 class="page-title">投稿編集画面</h2>

<div class="text-center">
  <%= image_tag @picture.image.url(:middle), class: "img-center" %>
</div>


<%= form_with(model: @picture, local: true ) do |f| %>

  <div class="form-area">
    <div>
      <%= f.label :タイトル %>
    </div>

    <div>
      <%= f.text_field :title %>
    </div>

    <div>
      <%= f.label :内容 %>
    </div>
    
    <div>
      <%= f.text_area :content %>
    </div>

    <div class="submit_area">
      <%= f.submit "編集", class: "btn btn-success" %>
    </div>

  </div>

 

  </div>
<% end %>
  