<div class="text-center">
  <div class="apointment_screen">投稿編集画面</div>
</div>

<%= image_tag @picture.image.url(:middle) %></br>

<%= form_with(model: @picture, local: true ) do |f| %>
  <%= f.label :タイトル %></br>
  <%= f.text_field :title %></br>

  <%= f.label :内容 %></br>
  <%= f.text_area :content %></br>

  <div class="submit_area">
    <%= f.submit "投稿", class: "submit_btn" %>
  </div>

  </div>
<% end %>
  