<div class="text-center">
  <div class="apointment_screen">新規投稿画面</div>
</div>

<%= form_with(model: @picture, local: true ) do |f| %>
  <%= f.label :タイトル %></br>
  <%= f.text_field :title %></br>

  <%= f.label :内容 %></br>
  <%= f.text_area :content %></br>
  
  <p class="text-center"><%= f.file_field :image %></p>

  <div class="submit_area">
    <%= f.submit "投稿", class: "submit_btn" %>
  </div>

  </div>
<% end %>
  