<h2 class="page-title">新規投稿</h2>

<%= form_with(model: @picture, local: true ) do |f| %>
  <div class="form-area">
    <div>
      <%= f.label :タイトル %>
    </div>

    <div>
      <%= f.text_field :title %>
    </div>


    <div>
      <%= f.label :内容 %>
    </div>
    
    <div>
      <%= f.text_area :content %>
    </div>

     <p class="text-center"><%= f.file_field :image %></p>

    <div class="submit_area">
      <%= f.submit "投稿", class: "submit_btn btn btn-success" %>
    </div>

  </div>

 

<% end %>
  